body {
    font-family: 'Roboto', sans-serif;
    background-color: #073642;
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 80%;
}

div#header {
    font-family: 'Quintessential', sans-serif;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo {
    font-size: 26px;
    float: left;
    font-weight: bold;
}

div#navigation {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

a {text-decoration: none;}
a:link {color:#999;}      /* unvisited link */
a:visited {color:#99f;}  /* visited link */
a:hover {color:#f99;}  /* mouse over link */
a:active {color:#9f9;}  /* selected link */

div#footer {
    border-top: solid 2px black;
    color: #eee;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.note {
    font-size: 0.67em;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
